<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ECC Encryption and Decryption</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>ECC Encryption and Decryption</h1>
    </header>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="publicKeyInput">Public Key:</label>
        <input type="file" id="publicKeyInput" name="publicKeyInput">
        <br><br>
        <label for="privateKeyInput">Private Key:</label>
        <input type="file" id="privateKeyInput" name="privateKeyInput">
        <br><br>
        <label for="file">File:</label>
        <input type="file" id="file" name="file">
        <br><br>
        <input type="radio" id="encryptRadio" name="action" value="encrypt" checked>
        <label for="encryptRadio">Encrypt</label>
        <input type="radio" id="decryptRadio" name="action" value="decrypt">
        <label for="decryptRadio">Decrypt</label>
        <br><br>
        <input class="button" type="submit" value="Submit">
      </form>
</body>
</html>
